@import url("./color.css");
@import url("./font.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Frank Ruhl Libre", serif;
}

.shadow-basic {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.outer-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inner-wrapper {
  width: 1150px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

.section-title {
  /* color: var(--n-900, #000); */
  font-family: "Frank Ruhl Libre";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 420;
  line-height: 150%; /* 72px */
  letter-spacing: -1.056px;
  margin-bottom: 3.5rem;
  letter-spacing: 0.2rem;
  text-align: center;
}

.small-title {
  font-size: 1rem;
  text-transform: uppercase;
  color: #5783be;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.section-absolute {
  height: clamp(800px, 80vh, 800px);
}

.img-background {
  background-image: url("./../js/assets/img/background/background.png");
  background-position: center;
  background-size: cover;
}

.disabled {
  -webkit-user-drag: none;
  user-drag: none;
  user-select: none;
}
